.donut-chart {
  background-color: var(--slate-200);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 0;

  display: flex;
  row-gap: 0.5rem;

  overflow: clip;
}

.donut-chart.top-center {
  flex-flow: column nowrap;
}

.donut-chart.bottom-left {
  flex-flow: column-reverse nowrap;
}

.donut-chart .title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.donut-chart .title.top-center {
  text-align: center;
}

.donut-chart .title.bottom-left {
  text-align: left;
}

.donut-chart .chart-container {
  flex-grow: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.donut-chart .chart-container svg {
  height: 100%;
  width: auto;
}

.donut-chart .chart-container svg text {
  font-size: 3rem;
  line-height: 1;
}

.donut-chart .legends {
  flex-flow: row wrap;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.donut-chart .legends.show {
  display: flex;
}

.donut-chart .legends:not(.show) {
  display: none;
}

.donut-chart .legends .legend {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 0.5rem;
}

.donut-chart .legends .legend .circle {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
}

.donut-chart .legends .legend .text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
